<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telephone Directory</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
      <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a class="navbar-link active" href="#home">Home</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#news">News</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#contact">Contact</a></li>
            <li class="navbar-item"><a class="navbar-link" href="#about">About</a></li>
        </ul>
    </nav>
        <h1>Telephone Directory</h1>
        <a href="/login" class="login-btn">Admin Login</a>
    </header>
    <main>
        <div id="records"></div>
    </main>
    <script src="/script.js"></script>
</body>
</html>
